<h1>Your Pokemons</h1>
{% if pokemons %}
    <ul>
    {% for pokemon in pokemons %}
        <li><a href="{% url 'pokemon_details' pokemon.name %}">{{ pokemon.name }}</a></li>
    {% endfor %}
    </ul>
    <form action="{% url 'catch_them_all' %}" method="post">{% csrf_token %}
        <input type="submit" value="Refresh Pokemons">
    </form>
    <form action="{% url 'release_them_all' %}" method="post">{% csrf_token %}
        <input type="submit" value="Delete all Pokemons">
    </form>
{% else %}
    <p>You have no Pokemon in your Pokesafe.</p>
    <form action="{% url 'catch_them_all' %}" method="post">{% csrf_token %}
        <input type="submit" value="Catch them all!">
    </form>
    <p><b>Note:</b> For a fair use of Poke API (and import UX while waiting for async implementation), only the first 200 Pokemons will be fetched.</p>
{% endif %}
